{{ ansible_managed | comment }}
#####################################################
# Example Job Route
#
# This is an extraordinarily simple job route.
# All it does is route local condor and set a
# simple Accounting Group and default RequestMemory.
#####################################################

JOB_ROUTER_USE_DEPRECATED_ROUTER_ENTRIES = False

JOB_ROUTER_ROUTE_Condor_Pool @=jrt
  UNIVERSE VANILLA
  #REQUIREMENTS Owner == "cms"
  #REQUIREMENTS regexp("\/cms\/Role\=pilot", x509UserProxyFirstFQAN)
  #REQUIREMENTS target.AuthTokenSubject == "bad55f4e-602c-4e8d-a5c5-bd8ffb762113"
  #default_pilot_job_env = strcat("WN_SCRATCH_DIR=/nobackup",
  #                               " PILOT_COLLECTOR=", JOB_COLLECTOR,
  #                               " ACCOUNTING_GROUP=", toLower(JOB_VO))
@jrt
