{% set condor_major_version = condor_version.split(".")[0] | int %}

{% if condor_major_version >= 10 %}
SCHEDD.SEC_DAEMON_AUTHENTICATION_METHODS = IDTOKENS,SCITOKENS,SSL,FS
SCHEDD.SEC_READ_AUTHENTICATION_METHODS = IDTOKENS,SCITOKENS,SSL,FS
SCHEDD.SEC_WRITE_AUTHENTICATION_METHODS = IDTOKENS,SCITOKENS,SSL,FS
SEC_CLIENT_AUTHENTICATION_METHODS = IDTOKENS,SCITOKENS,SSL,FS

AUTH_SSL_USE_CLIENT_PROXY_ENV_VAR = True
AUTH_SSL_CLIENT_CADIR = /etc/grid-security/certificates

AUTH_SSL_ALLOW_CLIENT_PROXY = True
AUTH_SSL_REQUIRE_CLIENT_MAPPING = True
{% endif %}
